### Base de Datos Poblaci√≥n EEUU

In [93]:
import pandas as pd

In [94]:
#Leemos el csv de Poblacion de EEUU 
df = pd.read_csv('Dataset/DataSet Population EEUU.csv')

df

,Label (Grouping),SEX AND AGE,SEX AND AGE!!Total population,SEX AND AGE!!Total population!!Male,SEX AND AGE!!Total population!!Female,SEX AND AGE!!Total population!!Sex ratio (males per 100 females),SEX AND AGE!!Total population!!Under 5 years,SEX AND AGE!!Total population!!5 to 9 years,SEX AND AGE!!Total population!!10 to 14 years,SEX AND AGE!!Total population!!15 to 19 years,...,HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Native Hawaiian and Other Pacific Islander alone,HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Some other race alone,HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Two or more races,HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Two or more races!!Two races including Some other race,"HISPANIC OR LATINO AND RACE!!Total population!!Not Hispanic or Latino!!Two or more races!!Two races excluding Some other race, and Three or more races",Total housing units,"CITIZEN, VOTING AGE POPULATION","CITIZEN, VOTING AGE POPULATION!!Citizen, 18 and over population","CITIZEN, VOTING AGE POPULATION!!Citizen, 18 and over population!!Male","CITIZEN, VOTING AGE POPULATION!!Citizen, 18 and over population!!Female"
0,Alabama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Estimate,NaN,"5,039,877","2,445,896","2,593,981",94.3,"290,091","298,540","337,730","338,347",...,"1,661","15,944","169,344","28,472","140,872","2,313,616",NaN,"3,829,788","1,827,345","2,002,443"
2,Percent,NaN,"5,039,877",48.5%,51.5%,(X),5.8%,5.9%,6.7%,6.7%,...,0.0%,0.3%,3.4%,0.6%,2.8%,(X),NaN,"3,829,788",47.7%,52.3%
3,Alaska,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Estimate,NaN,"732,673","383,121","349,552",109.6,"46,198","52,071","52,507","50,263",...,"10,994","3,744","75,177","8,278","66,899","327,889",NaN,"533,852","281,367","252,485"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151,Estimate,NaN,"578,803","296,007","282,796",104.7,"30,233","36,056","41,288","40,161",...,96,"3,930","21,947","6,523","15,424","274,373",NaN,"436,049","221,939","214,110"
152,Percent,NaN,"578,803",51.1%,48.9%,(X),5.2%,6.2%,7.1%,6.9%,...,0.0%,0.7%,3.8%,1.1%,2.7%,(X),NaN,"436,049",50.9%,49.1%
153,Puerto Rico,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
154,Estimate,NaN,"3,263,584","1,543,991","1,719,593",89.8,"103,841","150,197","176,442","205,814",...,0,"2,305","1,583",817,766,"1,526,801",NaN,"2,674,230","1,246,100","1,428,130"
155,Percent,NaN,"3,263,584",47.3%,52.7%,(X),3.2%,4.6%,5.4%,6.3%,...,0.0%,0.1%,0.0%,0.0%,0.0%,(X),NaN,"2,674,230",46.6%,53.4%

In [95]:
df = df.drop(columns=['SEX AND AGE'])

In [96]:
nuevos_nombres = {col: col.replace("SEX AND AGE", "") for col in df.columns}

# Renombra las columnas del DataFrame usando el diccionario
df.rename(columns=nuevos_nombres, inplace=True)
nuevos_nombres = {col: col.replace("!!", "") for col in df.columns}

# Renombra las columnas del DataFrame usando el diccionario
df.rename(columns=nuevos_nombres, inplace=True)

In [97]:
df

,Label (Grouping),Total population,Total populationMale,Total populationFemale,Total populationSex ratio (males per 100 females),Total populationUnder 5 years,Total population5 to 9 years,Total population10 to 14 years,Total population15 to 19 years,Total population20 to 24 years,...,HISPANIC OR LATINO AND RACETotal populationNot Hispanic or LatinoNative Hawaiian and Other Pacific Islander alone,HISPANIC OR LATINO AND RACETotal populationNot Hispanic or LatinoSome other race alone,HISPANIC OR LATINO AND RACETotal populationNot Hispanic or LatinoTwo or more races,HISPANIC OR LATINO AND RACETotal populationNot Hispanic or LatinoTwo or more racesTwo races including Some other race,"HISPANIC OR LATINO AND RACETotal populationNot Hispanic or LatinoTwo or more racesTwo races excluding Some other race, and Three or more races",Total housing units,"CITIZEN, VOTING AGE POPULATION","CITIZEN, VOTING AGE POPULATIONCitizen, 18 and over population","CITIZEN, VOTING AGE POPULATIONCitizen, 18 and over populationMale","CITIZEN, VOTING AGE POPULATIONCitizen, 18 and over populationFemale"
0,Alabama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Estimate,"5,039,877","2,445,896","2,593,981",94.3,"290,091","298,540","337,730","338,347","323,961",...,"1,661","15,944","169,344","28,472","140,872","2,313,616",NaN,"3,829,788","1,827,345","2,002,443"
2,Percent,"5,039,877",48.5%,51.5%,(X),5.8%,5.9%,6.7%,6.7%,6.4%,...,0.0%,0.3%,3.4%,0.6%,2.8%,(X),NaN,"3,829,788",47.7%,52.3%
3,Alaska,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Estimate,"732,673","383,121","349,552",109.6,"46,198","52,071","52,507","50,263","45,855",...,"10,994","3,744","75,177","8,278","66,899","327,889",NaN,"533,852","281,367","252,485"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151,Estimate,"578,803","296,007","282,796",104.7,"30,233","36,056","41,288","40,161","35,717",...,96,"3,930","21,947","6,523","15,424","274,373",NaN,"436,049","221,939","214,110"
152,Percent,"578,803",51.1%,48.9%,(X),5.2%,6.2%,7.1%,6.9%,6.2%,...,0.0%,0.7%,3.8%,1.1%,2.7%,(X),NaN,"436,049",50.9%,49.1%
153,Puerto Rico,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
154,Estimate,"3,263,584","1,543,991","1,719,593",89.8,"103,841","150,197","176,442","205,814","225,881",...,0,"2,305","1,583",817,766,"1,526,801",NaN,"2,674,230","1,246,100","1,428,130"
155,Percent,"3,263,584",47.3%,52.7%,(X),3.2%,4.6%,5.4%,6.3%,6.9%,...,0.0%,0.1%,0.0%,0.0%,0.0%,(X),NaN,"2,674,230",46.6%,53.4%

In [98]:
# Aqu√≠ seleccionamos todas las columnas hasta la 5ta.
nombres_columnas = df.columns.tolist() 
df = df.drop(df.columns[5:18], axis=1)

In [99]:
df = df.drop(df.columns[10:], axis=1)

In [100]:
df

,Label (Grouping),Total population,Total populationMale,Total populationFemale,Total populationSex ratio (males per 100 females),Total populationMedian age (years),Total populationUnder 18 years,Total population16 years and over,Total population18 years and over,Total population21 years and over
0,Alabama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Estimate,"5,039,877","2,445,896","2,593,981",94.3,39.8,"1,119,942","4,046,627","3,919,935","3,699,142"
2,Percent,"5,039,877",48.5%,51.5%,(X),(X),22.2%,80.3%,77.8%,73.4%
3,Alaska,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Estimate,"732,673","383,121","349,552",109.6,35.6,"179,401","571,832","553,272","521,655"
...,...,...,...,...,...,...,...,...,...,...
151,Estimate,"578,803","296,007","282,796",104.7,39.0,"131,529","461,622","447,274","425,155"
152,Percent,"578,803",51.1%,48.9%,(X),(X),22.7%,79.8%,77.3%,73.5%
153,Puerto Rico,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
154,Estimate,"3,263,584","1,543,991","1,719,593",89.8,44.1,"545,788","2,794,959","2,717,796","2,574,430"
155,Percent,"3,263,584",47.3%,52.7%,(X),(X),16.7%,85.6%,83.3%,78.9%

In [101]:
df.iloc[:, 1:] = df.iloc[:, 1:].apply(lambda x: x.shift(-1))
df = df.iloc[::3]
df = df.reset_index(drop=True)

In [102]:
df

,Label (Grouping),Total population,Total populationMale,Total populationFemale,Total populationSex ratio (males per 100 females),Total populationMedian age (years),Total populationUnder 18 years,Total population16 years and over,Total population18 years and over,Total population21 years and over
0,Alabama,"5,039,877","2,445,896","2,593,981",94.3,39.8,"1,119,942","4,046,627","3,919,935","3,699,142"
1,Alaska,"732,673","383,121","349,552",109.6,35.6,"179,401","571,832","553,272","521,655"
2,Arizona,"7,276,316","3,629,620","3,646,696",99.5,38.6,"1,614,284","5,852,913","5,662,032","5,372,612"
3,Arkansas,"3,025,891","1,493,681","1,532,210",97.5,38.5,"703,793","2,405,035","2,322,098","2,194,015"
4,California,"39,237,836","19,618,934","19,618,902",100.0,37.6,"8,769,779","31,507,237","30,468,057","28,918,596"
5,Colorado,"5,812,069","2,943,037","2,869,032",102.6,37.6,"1,241,947","4,720,626","4,570,122","4,346,563"
6,Connecticut,"3,605,597","1,768,045","1,837,552",96.2,41.1,"727,239","2,971,314","2,878,358","2,721,498"
7,Delaware,"1,003,384","485,908","517,476",93.9,41.6,"208,517","819,868","794,867","754,148"
8,District of Columbia,"670,050","319,025","351,025",90.9,34.8,"125,729","553,437","544,321","515,012"
9,Florida,"21,781,128","10,714,520","11,066,608",96.8,42.8,"4,287,823","18,010,659","17,493,305","16,753,101"
10,Georgia,"10,799,566","5,270,144","5,529,422",95.3,37.5,"2,522,124","8,575,918","8,277,442","7,812,956"
11,Hawaii,"1,441,553","725,604","715,949",101.3,40.2,"304,201","1,166,220","1,137,352","1,091,307"
12,Idaho,"1,900,923","954,313","946,610",100.8,37.3,"469,986","1,484,932","1,430,937","1,354,704"
13,Illinois,"12,671,469","6,264,364","6,407,105",97.8,39.0,"2,800,177","10,203,044","9,871,292","9,374,318"
14,Indiana,"6,805,985","3,374,931","3,431,054",98.4,38.2,"1,585,398","5,401,077","5,220,587","4,933,998"
15,Iowa,"3,193,079","1,603,267","1,589,812",100.8,38.5,"736,984","2,543,525","2,456,095","2,309,493"
16,Kansas,"2,934,582","1,474,610","1,459,972",101.0,37.3,"702,206","2,315,379","2,232,376","2,104,009"
17,Kentucky,"4,509,394","2,229,328","2,280,066",97.8,39.1,"1,015,455","3,612,858","3,493,939","3,307,289"
18,Louisiana,"4,624,047","2,260,866","2,363,181",95.7,38.0,"1,082,043","3,663,069","3,542,004","3,354,571"
19,Maine,"1,372,247","673,483","698,764",96.4,44.7,"249,675","1,155,699","1,122,572","1,073,239"
20,Maryland,"6,165,129","3,003,091","3,162,038",95.0,39.3,"1,360,097","4,964,751","4,805,032","4,579,503"
21,Massachusetts,"6,984,723","3,408,252","3,576,471",95.3,39.9,"1,361,940","5,790,261","5,622,783","5,308,211"
22,Michigan,"10,050,811","4,976,869","5,073,942",98.1,40.2,"2,151,937","8,156,411","7,898,874","7,491,294"
23,Minnesota,"5,707,390","2,860,668","2,846,722",100.5,38.8,"1,308,981","4,554,126","4,398,409","4,179,313"
24,Mississippi,"2,949,965","1,435,423","1,514,542",94.8,38.6,"691,885","2,340,485","2,258,080","2,126,566"
25,Missouri,"6,168,187","3,045,181","3,123,006",97.5,39.2,"1,383,537","4,949,628","4,784,650","4,536,481"
26,Montana,"1,104,271","560,911","543,360",103.2,40.1,"234,847","895,986","869,424","827,777"
27,Nebraska,"1,963,692","986,019","977,673",100.9,37.2,"482,202","1,534,896","1,481,490","1,401,882"
28,Nevada,"3,143,991","1,585,207","1,558,784",101.7,38.7,"697,619","2,526,328","2,446,372","2,339,377"
29,New Hampshire,"1,388,992","693,234","695,758",99.6,43.1,"256,254","1,164,253","1,132,738","1,075,694"
30,New Jersey,"9,267,130","4,563,560","4,703,570",97.0,40.3,"2,020,876","7,489,289","7,246,254","6,920,044"
31,New Mexico,"2,115,877","1,052,355","1,063,522",98.9,39.1,"471,808","1,700,082","1,644,069","1,558,126"
32,New York,"19,835,913","9,696,573","10,139,340",95.6,39.8,"4,103,566","16,210,453","15,732,347","14,973,928"
33,North Carolina,"10,551,162","5,149,323","5,401,839",95.3,39.4,"2,299,746","8,524,268","8,251,416","7,802,457"
34,North Dakota,"774,948","399,544","375,404",106.4,35.8,"182,589","610,714","592,359","555,602"
35,Ohio,"11,780,017","5,808,575","5,971,442",97.3,39.6,"2,603,410","9,480,334","9,176,607","8,700,622"
36,Oklahoma,"3,986,639","1,984,707","2,001,932",99.1,37.2,"957,938","3,140,799","3,028,701","2,854,120"
37,Oregon,"4,246,155","2,121,532","2,124,623",99.9,40.1,"858,666","3,487,919","3,387,489","3,233,564"
38,Pennsylvania,"12,964,056","6,399,632","6,564,424",97.5,40.9,"2,674,227","10,602,171","10,289,829","9,775,539"
39,Rhode Island,"1,095,610","536,589","559,021",96.0,40.6,"208,321","913,136","887,289","832,043"
40,South Carolina,"5,190,705","2,521,689","2,669,016",94.5,40.2,"1,115,996","4,207,365","4,074,709","3,852,732"
41,South Dakota,"895,376","451,950","443,426",101.9,37.6,"220,621","699,893","674,755","637,381"
42,Tennessee,"6,975,218","3,413,181","3,562,037",95.8,39.2,"1,537,615","5,616,708","5,437,603","5,158,274"
43,Texas,"29,527,941","14,739,011","14,788,930",99.7,35.5,"7,456,547","22,934,023","22,071,394","20,833,448"
44,Utah,"3,337,975","1,694,770","1,643,205",103.1,31.8,"945,457","2,507,029","2,392,518","2,234,764"
45,Vermont,"645,570","320,293","325,277",98.5,42.9,"116,767","542,827","528,803","497,878"
46,Virginia,"8,642,274","4,273,931","4,368,343",97.8,38.8,"1,881,818","6,980,718","6,760,456","6,397,867"
47,Washington,"7,738,692","3,897,320","3,841,372",101.5,38.2,"1,675,782","6,250,868","6,062,910","5,786,705"
48,West Virginia,"1,782,959","887,360","895,599",99.1,42.8,"361,392","1,465,755","1,421,567","1,352,112"
49,Wisconsin,"5,895,908","2,955,249","2,940,659",100.5,40.1,"1,274,605","4,773,326","4,621,303","4,382,920"
50,Wyoming,"578,803","296,007","282,796",104.7,39.0,"131,529","461,622","447,274","425,155"
51,Puerto Rico,"3,263,584","1,543,991","1,719,593",89.8,44.1,"545,788","2,794,959","2,717,796","2,574,430"

In [103]:
df.rename(columns={'Label (Grouping)': 'Estado'}, inplace=True)

In [104]:
df

,Estado,Total population,Total populationMale,Total populationFemale,Total populationSex ratio (males per 100 females),Total populationMedian age (years),Total populationUnder 18 years,Total population16 years and over,Total population18 years and over,Total population21 years and over
0,Alabama,"5,039,877","2,445,896","2,593,981",94.3,39.8,"1,119,942","4,046,627","3,919,935","3,699,142"
1,Alaska,"732,673","383,121","349,552",109.6,35.6,"179,401","571,832","553,272","521,655"
2,Arizona,"7,276,316","3,629,620","3,646,696",99.5,38.6,"1,614,284","5,852,913","5,662,032","5,372,612"
3,Arkansas,"3,025,891","1,493,681","1,532,210",97.5,38.5,"703,793","2,405,035","2,322,098","2,194,015"
4,California,"39,237,836","19,618,934","19,618,902",100.0,37.6,"8,769,779","31,507,237","30,468,057","28,918,596"
5,Colorado,"5,812,069","2,943,037","2,869,032",102.6,37.6,"1,241,947","4,720,626","4,570,122","4,346,563"
6,Connecticut,"3,605,597","1,768,045","1,837,552",96.2,41.1,"727,239","2,971,314","2,878,358","2,721,498"
7,Delaware,"1,003,384","485,908","517,476",93.9,41.6,"208,517","819,868","794,867","754,148"
8,District of Columbia,"670,050","319,025","351,025",90.9,34.8,"125,729","553,437","544,321","515,012"
9,Florida,"21,781,128","10,714,520","11,066,608",96.8,42.8,"4,287,823","18,010,659","17,493,305","16,753,101"
10,Georgia,"10,799,566","5,270,144","5,529,422",95.3,37.5,"2,522,124","8,575,918","8,277,442","7,812,956"
11,Hawaii,"1,441,553","725,604","715,949",101.3,40.2,"304,201","1,166,220","1,137,352","1,091,307"
12,Idaho,"1,900,923","954,313","946,610",100.8,37.3,"469,986","1,484,932","1,430,937","1,354,704"
13,Illinois,"12,671,469","6,264,364","6,407,105",97.8,39.0,"2,800,177","10,203,044","9,871,292","9,374,318"
14,Indiana,"6,805,985","3,374,931","3,431,054",98.4,38.2,"1,585,398","5,401,077","5,220,587","4,933,998"
15,Iowa,"3,193,079","1,603,267","1,589,812",100.8,38.5,"736,984","2,543,525","2,456,095","2,309,493"
16,Kansas,"2,934,582","1,474,610","1,459,972",101.0,37.3,"702,206","2,315,379","2,232,376","2,104,009"
17,Kentucky,"4,509,394","2,229,328","2,280,066",97.8,39.1,"1,015,455","3,612,858","3,493,939","3,307,289"
18,Louisiana,"4,624,047","2,260,866","2,363,181",95.7,38.0,"1,082,043","3,663,069","3,542,004","3,354,571"
19,Maine,"1,372,247","673,483","698,764",96.4,44.7,"249,675","1,155,699","1,122,572","1,073,239"
20,Maryland,"6,165,129","3,003,091","3,162,038",95.0,39.3,"1,360,097","4,964,751","4,805,032","4,579,503"
21,Massachusetts,"6,984,723","3,408,252","3,576,471",95.3,39.9,"1,361,940","5,790,261","5,622,783","5,308,211"
22,Michigan,"10,050,811","4,976,869","5,073,942",98.1,40.2,"2,151,937","8,156,411","7,898,874","7,491,294"
23,Minnesota,"5,707,390","2,860,668","2,846,722",100.5,38.8,"1,308,981","4,554,126","4,398,409","4,179,313"
24,Mississippi,"2,949,965","1,435,423","1,514,542",94.8,38.6,"691,885","2,340,485","2,258,080","2,126,566"
25,Missouri,"6,168,187","3,045,181","3,123,006",97.5,39.2,"1,383,537","4,949,628","4,784,650","4,536,481"
26,Montana,"1,104,271","560,911","543,360",103.2,40.1,"234,847","895,986","869,424","827,777"
27,Nebraska,"1,963,692","986,019","977,673",100.9,37.2,"482,202","1,534,896","1,481,490","1,401,882"
28,Nevada,"3,143,991","1,585,207","1,558,784",101.7,38.7,"697,619","2,526,328","2,446,372","2,339,377"
29,New Hampshire,"1,388,992","693,234","695,758",99.6,43.1,"256,254","1,164,253","1,132,738","1,075,694"
30,New Jersey,"9,267,130","4,563,560","4,703,570",97.0,40.3,"2,020,876","7,489,289","7,246,254","6,920,044"
31,New Mexico,"2,115,877","1,052,355","1,063,522",98.9,39.1,"471,808","1,700,082","1,644,069","1,558,126"
32,New York,"19,835,913","9,696,573","10,139,340",95.6,39.8,"4,103,566","16,210,453","15,732,347","14,973,928"
33,North Carolina,"10,551,162","5,149,323","5,401,839",95.3,39.4,"2,299,746","8,524,268","8,251,416","7,802,457"
34,North Dakota,"774,948","399,544","375,404",106.4,35.8,"182,589","610,714","592,359","555,602"
35,Ohio,"11,780,017","5,808,575","5,971,442",97.3,39.6,"2,603,410","9,480,334","9,176,607","8,700,622"
36,Oklahoma,"3,986,639","1,984,707","2,001,932",99.1,37.2,"957,938","3,140,799","3,028,701","2,854,120"
37,Oregon,"4,246,155","2,121,532","2,124,623",99.9,40.1,"858,666","3,487,919","3,387,489","3,233,564"
38,Pennsylvania,"12,964,056","6,399,632","6,564,424",97.5,40.9,"2,674,227","10,602,171","10,289,829","9,775,539"
39,Rhode Island,"1,095,610","536,589","559,021",96.0,40.6,"208,321","913,136","887,289","832,043"
40,South Carolina,"5,190,705","2,521,689","2,669,016",94.5,40.2,"1,115,996","4,207,365","4,074,709","3,852,732"
41,South Dakota,"895,376","451,950","443,426",101.9,37.6,"220,621","699,893","674,755","637,381"
42,Tennessee,"6,975,218","3,413,181","3,562,037",95.8,39.2,"1,537,615","5,616,708","5,437,603","5,158,274"
43,Texas,"29,527,941","14,739,011","14,788,930",99.7,35.5,"7,456,547","22,934,023","22,071,394","20,833,448"
44,Utah,"3,337,975","1,694,770","1,643,205",103.1,31.8,"945,457","2,507,029","2,392,518","2,234,764"
45,Vermont,"645,570","320,293","325,277",98.5,42.9,"116,767","542,827","528,803","497,878"
46,Virginia,"8,642,274","4,273,931","4,368,343",97.8,38.8,"1,881,818","6,980,718","6,760,456","6,397,867"
47,Washington,"7,738,692","3,897,320","3,841,372",101.5,38.2,"1,675,782","6,250,868","6,062,910","5,786,705"
48,West Virginia,"1,782,959","887,360","895,599",99.1,42.8,"361,392","1,465,755","1,421,567","1,352,112"
49,Wisconsin,"5,895,908","2,955,249","2,940,659",100.5,40.1,"1,274,605","4,773,326","4,621,303","4,382,920"
50,Wyoming,"578,803","296,007","282,796",104.7,39.0,"131,529","461,622","447,274","425,155"
51,Puerto Rico,"3,263,584","1,543,991","1,719,593",89.8,44.1,"545,788","2,794,959","2,717,796","2,574,430"

In [105]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 10 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   Estado                                             52 non-null     object
 1   Total population                                   52 non-null     object
 2   Total populationMale                               52 non-null     object
 3   Total populationFemale                             52 non-null     object
 4   Total populationSex ratio (males per 100 females)  52 non-null     object
 5   Total populationMedian age (years)                 52 non-null     object
 6   Total populationUnder 18 years                     52 non-null     object
 7   Total population16 years and over                  52 non-null     object
 8   Total population18 years and over                  52 non-null     object
 9   Total population21 years and over                  52 non-null     object
dtypes: object(10)
memory usage: 4.2+ KB

In [106]:
for x in range(0, df.shape[1]):
    print(f"La columna {x} es de tipo de dato: {type(df.iloc[0,x])}")

La columna 0 es de tipo de dato: <class 'str'>
La columna 1 es de tipo de dato: <class 'str'>
La columna 2 es de tipo de dato: <class 'str'>
La columna 3 es de tipo de dato: <class 'str'>
La columna 4 es de tipo de dato: <class 'str'>
La columna 5 es de tipo de dato: <class 'str'>
La columna 6 es de tipo de dato: <class 'str'>
La columna 7 es de tipo de dato: <class 'str'>
La columna 8 es de tipo de dato: <class 'str'>
La columna 9 es de tipo de dato: <class 'str'>

In [108]:
def eliminar_comas(cadena):
    return cadena.replace(',', '')

# Aplicar la funci√≥n a todas las columnas del DataFrame
df = df.applymap(eliminar_comas)

In [109]:
df

,Estado,Total population,Total populationMale,Total populationFemale,Total populationSex ratio (males per 100 females),Total populationMedian age (years),Total populationUnder 18 years,Total population16 years and over,Total population18 years and over,Total population21 years and over
0,Alabama,5039877,2445896,2593981,94.3,39.8,1119942,4046627,3919935,3699142
1,Alaska,732673,383121,349552,109.6,35.6,179401,571832,553272,521655
2,Arizona,7276316,3629620,3646696,99.5,38.6,1614284,5852913,5662032,5372612
3,Arkansas,3025891,1493681,1532210,97.5,38.5,703793,2405035,2322098,2194015
4,California,39237836,19618934,19618902,100.0,37.6,8769779,31507237,30468057,28918596
5,Colorado,5812069,2943037,2869032,102.6,37.6,1241947,4720626,4570122,4346563
6,Connecticut,3605597,1768045,1837552,96.2,41.1,727239,2971314,2878358,2721498
7,Delaware,1003384,485908,517476,93.9,41.6,208517,819868,794867,754148
8,District of Columbia,670050,319025,351025,90.9,34.8,125729,553437,544321,515012
9,Florida,21781128,10714520,11066608,96.8,42.8,4287823,18010659,17493305,16753101
10,Georgia,10799566,5270144,5529422,95.3,37.5,2522124,8575918,8277442,7812956
11,Hawaii,1441553,725604,715949,101.3,40.2,304201,1166220,1137352,1091307
12,Idaho,1900923,954313,946610,100.8,37.3,469986,1484932,1430937,1354704
13,Illinois,12671469,6264364,6407105,97.8,39.0,2800177,10203044,9871292,9374318
14,Indiana,6805985,3374931,3431054,98.4,38.2,1585398,5401077,5220587,4933998
15,Iowa,3193079,1603267,1589812,100.8,38.5,736984,2543525,2456095,2309493
16,Kansas,2934582,1474610,1459972,101.0,37.3,702206,2315379,2232376,2104009
17,Kentucky,4509394,2229328,2280066,97.8,39.1,1015455,3612858,3493939,3307289
18,Louisiana,4624047,2260866,2363181,95.7,38.0,1082043,3663069,3542004,3354571
19,Maine,1372247,673483,698764,96.4,44.7,249675,1155699,1122572,1073239
20,Maryland,6165129,3003091,3162038,95.0,39.3,1360097,4964751,4805032,4579503
21,Massachusetts,6984723,3408252,3576471,95.3,39.9,1361940,5790261,5622783,5308211
22,Michigan,10050811,4976869,5073942,98.1,40.2,2151937,8156411,7898874,7491294
23,Minnesota,5707390,2860668,2846722,100.5,38.8,1308981,4554126,4398409,4179313
24,Mississippi,2949965,1435423,1514542,94.8,38.6,691885,2340485,2258080,2126566
25,Missouri,6168187,3045181,3123006,97.5,39.2,1383537,4949628,4784650,4536481
26,Montana,1104271,560911,543360,103.2,40.1,234847,895986,869424,827777
27,Nebraska,1963692,986019,977673,100.9,37.2,482202,1534896,1481490,1401882
28,Nevada,3143991,1585207,1558784,101.7,38.7,697619,2526328,2446372,2339377
29,New Hampshire,1388992,693234,695758,99.6,43.1,256254,1164253,1132738,1075694
30,New Jersey,9267130,4563560,4703570,97.0,40.3,2020876,7489289,7246254,6920044
31,New Mexico,2115877,1052355,1063522,98.9,39.1,471808,1700082,1644069,1558126
32,New York,19835913,9696573,10139340,95.6,39.8,4103566,16210453,15732347,14973928
33,North Carolina,10551162,5149323,5401839,95.3,39.4,2299746,8524268,8251416,7802457
34,North Dakota,774948,399544,375404,106.4,35.8,182589,610714,592359,555602
35,Ohio,11780017,5808575,5971442,97.3,39.6,2603410,9480334,9176607,8700622
36,Oklahoma,3986639,1984707,2001932,99.1,37.2,957938,3140799,3028701,2854120
37,Oregon,4246155,2121532,2124623,99.9,40.1,858666,3487919,3387489,3233564
38,Pennsylvania,12964056,6399632,6564424,97.5,40.9,2674227,10602171,10289829,9775539
39,Rhode Island,1095610,536589,559021,96.0,40.6,208321,913136,887289,832043
40,South Carolina,5190705,2521689,2669016,94.5,40.2,1115996,4207365,4074709,3852732
41,South Dakota,895376,451950,443426,101.9,37.6,220621,699893,674755,637381
42,Tennessee,6975218,3413181,3562037,95.8,39.2,1537615,5616708,5437603,5158274
43,Texas,29527941,14739011,14788930,99.7,35.5,7456547,22934023,22071394,20833448
44,Utah,3337975,1694770,1643205,103.1,31.8,945457,2507029,2392518,2234764
45,Vermont,645570,320293,325277,98.5,42.9,116767,542827,528803,497878
46,Virginia,8642274,4273931,4368343,97.8,38.8,1881818,6980718,6760456,6397867
47,Washington,7738692,3897320,3841372,101.5,38.2,1675782,6250868,6062910,5786705
48,West Virginia,1782959,887360,895599,99.1,42.8,361392,1465755,1421567,1352112
49,Wisconsin,5895908,2955249,2940659,100.5,40.1,1274605,4773326,4621303,4382920
50,Wyoming,578803,296007,282796,104.7,39.0,131529,461622,447274,425155
51,Puerto Rico,3263584,1543991,1719593,89.8,44.1,545788,2794959,2717796,2574430

In [110]:
#convertir todas las columnas desde la segunda columna hasta el final a tipo float
columnas_a_convertir = df.columns[1:]
# Aplicar la conversi√≥n a tipo entero a las columnas seleccionadas
for columna in columnas_a_convertir:
    df[columna] = df[columna].astype(float)

In [113]:
df.to_csv('Population', index= False)

In [112]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 10 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   Estado                                             52 non-null     object
 1   Total population                                   52 non-null     float64
 2   Total populationMale                               52 non-null     float64
 3   Total populationFemale                             52 non-null     float64
 4   Total populationSex ratio (males per 100 females)  52 non-null     float64
 5   Total populationMedian age (years)                 52 non-null     float64
 6   Total populationUnder 18 years                     52 non-null     float64
 7   Total population16 years and over                  52 non-null     float64
 8   Total population18 years and over                  52 non-null     float64
 9   Total population21 years and over                  52 non-null     float64
dtypes: float64(9), object(1)
memory usage: 4.2+ KB